{% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf8">
    <title>Lipsko - {% block title %}main page{% endblock %}</title>
    <!-- <link rel="stylesheet" href="main.css"> -->
    <style type="text/css">

    </style>
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript">

    </script>
</head>

<body>
    <header>
        {% if not user.is_anonymous %}
            {{ user.username }}
            <a href="{% url 'logout' %}?redirect={{ request.get_full_path|iriencode }}">Log out</a>
        {% else %}
        {% load social_auth_widget %}
        <form action="" method="post">
            {% csrf_token %}
            <input name="username" />
            <input name="password" />
            <input type="submit" value="Sign in" />
            <div id="via-social-auth">
            {% social_auth_widget %}
            </div>
        </form>
        {% endif %}
    </header>

    <header>
    <h2>Lipsko &ndash; Prepare and share interlinear texts</h2>
    </header>

    <section>
    {% block content %}
    {% endblock %}
    </section>
    
    <footer>
    &copy; 2013 <a href="https://github.com/vpavlenko">Vitaly Pavlenko</a>
    </footer>
</body>
</html>