<!DOCTYPE html>

<html>
<head>
    <meta charset="utf8">
    <title>Lipsko - {% block title %}main page{% endblock %}</title>
    <!-- <link rel="stylesheet" href="main.css"> -->
    <style type="text/css">

    </style>
    <script type="text/javascript" src="{% STATIC_URL %}js/jquery.min.js"></script>
    <script type="text/javascript">

    </script>
</head>

<body>
    <header>
    Lipsko - Prepare and share interlinear texts
    </header>

    <section>

    </section>
    
    <footer>
    &copysign; 2013 <a href="https://github.com/vpavlenko">Vitaly Pavlenko</a>
    </footer>
</body>
</html>